body {
  text-align: center;
}

.children-fit-container {
  display: inline-block;
  text-align: start;
  left: 50%;
  position: grid;
  margin: 20px solid red;
  
}
.grid-container {
  padding: 10px;
  border-radius: 5px;
  display: grid;
  width: 720px;
  height: 720px;
  border: 2px solid black;
}
.grid-container > div.cell-border-right {
  border-right: 1px dotted rgb(200, 200, 200);
}
.grid-container > div.cell-border-bottom {
  border-bottom: 1px dotted rgb(200, 200, 200);
}
#new-grid-btn {
  margin-bottom: 8px;
  display: block;
  position: relative;
  left: 50%;
  padding: 25px 25px;
  margin: 15px;
  
} 