#book-pages{
margin-bottom:5px;   
}
#book-name{
   margin-left:27px;
   margin-bottom:5px;
}
#book-author{
   margin-left:21px;
   margin-bottom:5px;
}

.text-form{
   width: 50%;
   border:2px solid blue;
   border-radius:5px;
   padding-left:5px;
}

#new-book{
   display:none;
   background-color:green;
   z-index: 1;
   width:280px;
   height:140px;
   border:5px solid blue;
   color:white;
   padding-left:10px;
   padding-top:5px;
   line-height:1;
   font-family:Imapct;
   position:absolute;
   margin-top:400px;
  
}
p{
   text-shadow: 1px 1px;
   
}
viewport{
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
}
.Book-Card{
   padding:5px;
   height:140px;
   width:120px;
   text-align:center;
   align-content: center;
   line-height:1.5;
   margin-bottom:7.5px;
   margin-top:7.5px;
   text-shadow: 1px 1px;
}
#add-book{
   position:relative;
}
#hidden-text{
   line-height:0.1;
}
.holding-everything{
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   flex-direction: column;
    
}
.sorting{
   display:grid;
   grid-template-columns: 600px 600px;
   color:white;
   background-color: black;
  
}

.description{
   text-align:center;
}

#booksR-container{
  display:flex; 
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:flex-start;
  height:auto;
  background-color: lightblue;
}
#booksNr-container{
  display:flex; 
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:flex-start;
  height: auto;
  background-color: brown; 
}
body{
   background-color: #801fc4;
}