/* Style will be written here */
html *{
  padding: 0px;
  border: 0px;
  margin: 0px;;
  box-sizing: border-box;
}
body {
  font-family: 'Yellowtail', cursive;
   font-size: 14px;
  background-color: antiquewhite;
  font-size: 16px;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  background: url(https://ae01.alicdn.com/kf/HTB1ADwmSXXXXXcIapXXq6xXFXXXO.jpg_q50.jpg);
  color: aliceblue;
  box-sizing: border-box;
}
.container {
  display: grid;
}
.containerTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-style: normal;
  box-sizing: border-box;
  margin: 5px 0 ;
}
.addBook {
  display: flex;
  justify-content: center;
}
.addBook button {
  padding: 8px 18px;
  margin: 2px;
  font-size: 1.3em;
  border-radius: 10px;
  text-decoration: underline;
  border: 2px solid purple;
  transition: 300ms all;
}
.addBook button:hover {
  color: white;
  background-color: black;
}
.content {
  background-color: bisque;
  color: black;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  /* flex: 1; */
  justify-content: space-around;
  /* height: 635px; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.08fr 1fr;
  grid-template-areas: 'existingBooks booksToRead'
                       'existingBookList readBookList'   ;
  border: 2px solid black;            
  height: 100vh;     
  margin: 20px 10px;      
}
.existingBooks {
  font-size: 24px;
  padding-bottom: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  grid-area: existingBooks;
    border: 2px solid black;
}
.booksToRead {
  font-size: 24px;
  padding-bottom: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  grid-area: booksToRead;
  border: 2px solid black;
}
.existingBooksTitle {
  font-size: 1.5rem;
}
.existingBooksTitle:hover {
  color: blueviolet;
}
.booksToReadTitle:hover {
  color: chocolate;
}
.booksToReadTitle {
  font-size: 1.5rem;
}
.existingBookList {
  font-size: 24px;
  padding-top: 5px;
  display: flex;
  padding-left: 10px;
  justify-content: start;
  grid-area: existingBookList;
  padding-bottom: 5px;
  margin: 5px;
  border: 2px solid black;
}
.readBookList {
  font-size: 24px;
  padding-top: 5px;
  display: flex;
  padding-left: 10px;
  justify-content: start;
  grid-area: readBookList;
  padding-bottom: 5px;
  margin: 5px;
  border: 2px solid black;
}
viewport {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}
#newBook {
  /* display: none; */
  background-color: green;
  z-index: 1;
  width: 300px;
  height: 160px;
  border: 2px solid firebrick;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  line-height: 1;
  position: absolute;
  top: 300px;
  left: 400px;  
  box-sizing: border-box;
}
#bookName{
  margin-left:21px;
  margin-bottom:5px;
}
#bookAuthor{
  margin-left:21px;
  margin-bottom:5px;
}
#bookPages {
  margin-left:21px;
  margin-bottom:8px;
}
.textForm{
  width: 50%;
  border:2px solid blue;
  border-radius:5px;
  padding-left:5px;
  line-height: 5px;
}
#newBook > .select {
  margin: 5px;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
}
