/* Style will be written here */
html,body {
  text-align: center;
}
.title {
  position: initial;
  display: inline;
  font-size: 50px;

}
.container {
  width: 90%;
  height: 85%;
  padding: 10px;
  margin-top: 100px;
  border: 1px solid red;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -40%);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px ;
  grid-template-areas:
  "title  title  title"
  "number number transactions";
}
.screen {
  position: relative;
  padding: 10px;
  border: 1px solid red;
  margin-top: 5px;
  margin: 10px;
  box-sizing: border-box; 
  grid-area: title;
}
.numbers {
  border: 1px solid red;
  position: relative;
  grid-area: number;
  padding-top: 100px;
}
.numbers  button{
  border: 1px solid red;
  padding: 10px 20px;
  margin: 10px 10px;
  font-size: 20px;

}

.transactions {
  border: 1px solid red;
  position: relative;
  grid-area: transactions;
  padding-top: 100px;
  
}
.transactions button{
  border: 1px solid red;
  padding: 10px 20px;
  margin: 10px 10px;
  font-size: 20px;

}




