//ders6 import (dahil etme)
@import "reset.scss";
@import "mizing.scss";

/*
//scss deki değişken yapıları
$degisken-adi: blue;
$color: red;
$size: 1000px;
.box {
  width: $size;
  background-color: $degisken-adi;
  color: white;
 }
 */
//ders5 miras alma extend
.egim {
  transition: 300ms all;
  //bu özelliği 
  //@extend .egim    şeklinde kullanılabilinir
}

//Ders4 İçiçe birleştirme yöntemi nesting yöntemi




 //Ders2 login sayfası
 

.container {
    width: 400px;
    background-color: white;
    @include border-radius(3px);
    padding: 30px  ;
    margin: 30px;

  .login-header {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  }
  .login-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
    & input{
    height: 50px;
    padding: 0px 20px;//sağdan soldan 20 px, ve aşagıdan yukarıdan 0px boşluk bırakıyoruz
    border: 2px solid rgb(202, 202, 202);
    margin-bottom: 20px;
    }
  }

  .login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

    & a {
    color: rgb(160, 160, 160);
    @extend .egim;
      &:hover {
      color: black;
      }
      &:first-child {
        background-color: royalblue;
        width: 90px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: white;
        border-radius: 3px;
        @extend .egim;
      }
      &:first-child:hover {
        background-color: black;
      }
    }
  }
}
.signup a {
  display: block;
  color: white;
}
.signup a:hover {
  text-decoration: underline;
  transition: 500ms all;
  color: red;
} 